body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

/* Header section */

.header {
    background-color: #1F2937;
    display: flex;
    padding: 20px 20%;
    justify-content: center;
    flex-direction: column;
}

.topsec {
    display: flex;
    justify-content: space-between;
    flex: 1;

}

.heading {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.links {
    margin: 0px;
    padding: 0px; 

    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.botsec {
    display: flex;
    margin: 130px 0;
    gap: 10px;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text * {
    flex: initial;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: -15px;
    width: 300px;
}

.content {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
}

.signup {
    background-color: #3882F6;
    padding: 8px 15px;
    border-radius: 7px;
    font-weight: 700;
    text-align: center;
    width: 100px;
}

.signup:hover {
    color: white;
    background-color: #659cf5;
}

span>a {
    font-weight: 700;
}

.Nothing {
    height: 290px;
    flex: 1.1 1;
    border: 1px solid black;
}

/* Random info section */

.info {
    padding: 50px 18% 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.random_info {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.squares {
    display: flex;
    gap: 50px;
}

.squares img {
    height: 180px;
    width: 180px;
    border-radius: 15px;
    border: 5px solid #3882F6;
    padding: 0px;
}

.subtext {
    display: flex;
    gap: 60px;
    text-align: center;
    padding: 0;
    margin-top: -50px;
}

.subtext div {
    width: 170px;
    padding: 5px;
}

/*Quote section*/

.quote_section {
    background-color: #E5E7EB;
    padding: 130px 26%;
}

.quote {  
    color: #585d64;  
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.author {
    color: rgba(0, 0, 0, 0.761);
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.registration {

}

.footer {
    background-color: #1F2937;
    display: flex;
}
